*{margin:0; padding: 0; }
.head{width:100%;
	height: 150px;
	 background:url('../images/8.png') no-repeat;
	 background-attachment: fixed; 
	 background-size:contain;
	 position: relative;
	}
.head p{color: yellow; font-size: 30px;
		display: inline-block;
		position: absolute;
		top: 50%;left: 50%;
		margin-left: -120px;
		margin-top:-20px;
		}
.main{
	width: 100%;
	height: auto;
}
.main_h{
	width: 100%;
	margin:0 auto;
	height:auto;
	background:#eee;
	padding-bottom: 80px;
}
.main_h #wrap #left span{
	font-size: 12px; line-height: 12px; color: rgba(23,186,255,1);
	 font-weight: bolder;
}
 #wrap{ width: 930px;  margin: 0 auto; overflow: hidden; padding-top: 20px;
 	height: auto;}
.main_h ul{list-style: none; padding: 0; margin: 0;  }
.main_h li{background: white; width: 290px; 
	float: left; margin:10px 10px; padding-bottom: 1000px; margin-bottom: -1000px;
	 text-align: center; padding-top: 10px; }
.main_h img{height: 240px; width: 260px;}
.main_h p{text-align:left; padding: 15px; text-indent: 2em; font-size: 16px;
line-height: 24px;}
.main_h p a{text-decoration: none; color: rgba(23,186,255,1); font-weight: bolder;
font-size: 12px; position: relative;}
.span_mouseover{position:absolute; top:15px; left: 0; width: 0px; height: 2px;
 background-color:rgba(23,186,255,1); transition:0.5s; }
a:hover .span_mouseover{width: 100%;}

.main_con{
	width: 100%;
	height: auto;
	position: relative;
	background: #eee;
	padding-bottom: 20px;
	font-family: '微软雅黑';
}
.photo{
	height: 100px;
	width: 100px;
	background:url('../images/p1.jpg');
	background-size: cover;
	border-radius: 50%;
	border: 10px solid white;
	position: absolute;
	top:-50px;
	left: 50%;
	margin-left: -60px;
}
.main_con .main_wrap{
	margin: 0 auto;
	/*border: 2px solid red;*/
	width: 920px;
/*	height: 1000px;
*/	height: auto;
	background: white;
		
}
.main_con .main_wrap .edu{
	width: 100%;
	height: 150px;
	padding-top: 70px;
}
.main_con .main_wrap .edu .edu_left{
	width: 50%;
	height: 100%;
	float: left;
	text-align: right;
	padding: 10px 50px;
	padding-top: 50px;
	box-sizing:border-box;
}
.main_con .main_wrap .edu .edu_right{
	width: 50%;
	height: 100%;
	float: left;
	line-height: 50px;
	border-left: 2px solid #ccc;
	padding-top: 30px;
	box-sizing:border-box;
}
.year_tips{
	
	position: relative;
	left: -32px;
	border: solid 2px #ccc;
	background: #ffffff;
	padding: 4px 10px;
	border-radius: 6px;
}
.main_con .main_wrap .award{
	width: 100%;
	height: 300px;
	position:relative;
	
}
.main_con .main_wrap .award .award_left{
	width: 50%;
	height: 100%;
	float: left;
	text-align: right;
	padding: 100px 50px;
	box-sizing:border-box;

}
.main_con .main_wrap .award .award_right{
	width: 50%;
	height: 100%;
	float: left;
	line-height: 25px;
	border-left: 2px solid #ccc;
	padding-left: 65px;
	padding-top: 80px;
	box-sizing:border-box;
}
.photo_s{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border: 5px solid #ccc;
	position: absolute;
	left: 50%;
	margin-left: -37.5px;
}
.ps1{
	background:url('../images/p2.png');
	background-size: cover;
}
.ps2{
	background:url('../images/p3.png');
	background-size: cover;
}
.ps3{
	background:url('../images/p4.png');
	background-size: cover;
}
.main_con .main_wrap .pratice{
	width: 100%;
	height: 200px;
	position:relative;
}
.main_con .main_wrap .pratice .pratice_left{
	width: 50%;
	height: 100%;
	float: left;
	text-align: right;
	padding: 100px 50px;
	box-sizing:border-box;

}
.main_con .main_wrap .pratice .pratice_right{
	width: 50%;
	height: 100%;
	float: left;
	line-height: 25px;
	border-left: 2px solid #ccc;
	padding-left: 65px;
	padding-top: 80px;
	box-sizing:border-box;
}
.main_con .main_wrap .tel{
	width: 100%;
	height: 200px;
	position:relative;
}
.main_con .main_wrap .tel .tel_left{
	width: 50%;
	height: 100%;
	float: left;
	text-align: right;
	padding: 100px 50px;
	box-sizing:border-box;

}
.main_con .main_wrap .tel .tel_right{
	width: 50%;
	height: 100%;
	float: left;
	line-height: 25px;
	border-left: 2px solid #ccc;
	padding-left: 65px;
	padding-top: 80px;
	box-sizing:border-box;
}
.left_font{
	font-size: 28px;
}

.foot{
	height: 50px;
	background: url('../images/foot_top.png');
}
